<!DOCTYPE html>
<html>
<head>
  <title>Select Disease</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h2>Hello {{ name }}, choose a disease to assess:</h2>
  <form action="/form" method="POST">
    <input type="hidden" name="name" value="{{ name }}">
    <input type="hidden" name="age" value="{{ age }}">
    <input type="hidden" name="gender" value="{{ gender }}">
    <button type="submit" name="disease" value="diabetes">Diabetes</button>
    <button type="submit" name="disease" value="heart">Heart Disease</button>
    <button type="submit" name="disease" value="thyroid">Thyriod</button>
  </form>
</body>
</html>
